.cards {
    margin: 70px auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px;
    font-family: sans-serif;
    padding-top: 20px;
    
}

.card {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    margin: 10px 0 0 0;
    border-color: orange;
    border-radius: 5%;
    border-width: 2px;
}

.day-descr {
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;line-height: 1.5;
}

.day-proofs > div {
    padding: 15px;
    display: block;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    border: 1px solid black;
    padding: 5px;
    margin: 2px;
    border-radius: 10px;
}

.date {
    padding: 0px;
    color: gray;
    text-align: center;
    margin: 0;
    font-size: 18px;
}